<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style type="text/css">
        img.ctrlbtn {
            width: 96px;
            height: 96px;
        }
        table.ctrltbl {
            width: 540px;
            height: 340px;
        }
        table.datatbl {
            width: 540px;
        }
    </style>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script type="text/javascript">
function send_req(url) {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", url);
    xhr.send();
    xhr.responseType = "json";
    xhr.onload = () => {
      if (xhr.readyState == 4 && xhr.status == 200) {
        const data = xhr.response;
        console.log(data);
      } else {
        console.log(`Error: ${xhr.status}`);
      }
    };
}

function doStop() {send_req('/api/stop');}
function doForward() {send_req('/api/forward');}
function doBackward() {send_req('/api/backward');}
function doLeft() {send_req('/api/left');}
function doRight() {send_req('/api/right');}
function doLeftForward() {send_req('/api/left_forward');}
function doRightForward() {send_req('/api/right_forward');}
function doLeftBackward() {send_req('/api/left_backward');}
function doRightBackward() {send_req('/api/right_backward');}
function doLeftSpin() {send_req('/api/left_spin');}
function doRightSpin() {send_req('/api/right_spin');}

//namespace = '/data'
//const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace)
const socket = io.connect('/data')

socket.on('sensor_data', (sensor_data) => {
    console.log('message', sensor_data)
    const li = document.createElement('li')
    li.appendChild(document.createTextNode(
        'temp: '+sensor_data['temp'] + 
        ' \ hum: ' + sensor_data['hum'] + 
        ' \ pres: ' + sensor_data['pres'] +
        ' \ co2:' + sensor_data['co2'] +
        ' \ front:' + sensor_data['front'] +
        ' \ back:' + sensor_data['back'] +
        ' \ time:' + sensor_data['timestamp'] 
    ))
    document.getElementById('sensor_data').appendChild(li)
    document.getElementById('status').textContent = sensor_data['timestamp']
    document.getElementById('temp').textContent = sensor_data['temp']
    document.getElementById('hum').textContent = sensor_data['hum']
    document.getElementById('pres').textContent = sensor_data['pres']
    document.getElementById('co2').textContent = sensor_data['co2']
    document.getElementById('front').textContent = sensor_data['front']
    document.getElementById('back').textContent = sensor_data['back']
})


</script>
    <h1>Mecanum Controller</h1>
    <img src="/video_feed"/>
    <table class="ctrltbl">
      <tr>
        <td scope="col"><img src="images/left_forward.svg" class="ctrlbtn" alt="left forward" title="left forward" onclick="doLeftForward();"></td>
        <td scope="col"><img src="images/forward.svg" class="ctrlbtn" alt="forward" title="forward" onclick="doForward();"></td>
        <td scope="col"><img src="images/right_forward.svg" class="ctrlbtn" alt="right forward" title="right forward" onclick="doRightForward();"></td>
      </tr>
      <tr>
        <td scope="col"><img src="images/left.svg" class="ctrlbtn" alt="left" title="left" onclick="doLeft();"></td>
        <td scope="col"><img src="images/stop.svg" class="ctrlbtn" alt="stop" title="stop" onclick="doStop();"></td>
        <td scope="col"><img src="images/right.svg" class="ctrlbtn" alt="right" title="right" onclick="doRight();"></td>
      </tr>
      <tr>
        <td scope="col"><img src="images/left_backward.svg" class="ctrlbtn" alt="left backward" title="left backward" onclick="doLeftBackward();"></td>
        <td scope="col"><img src="images/backward.svg" class="ctrlbtn" alt="backward" title="backward" onclick="doBackward();"></td>
        <td scope="col"><img src="images/right_backward.svg" class="ctrlbtn" alt="right backward" title="right backward" onclick="doRightBackward();"></td>
      </tr>
      <tr>
        <td scope="col"><img src="images/left_spin.svg" class="ctrlbtn" alt="left spin" title="left spin" onclick="doLeftSpin();"></td>
        <td scope="col"><img src="images/right_spin.svg" class="ctrlbtn" alt="right spin" title="right spin" onclick="doRightSpin();"></td>
      </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <table class="datatbl">
      <tr>
        <td scope="col">Status</td>
        <td scope="col" id="status">na</td>
      </tr>
      <tr>
        <td scope="col">Temparature</td>
        <td scope="col" id="temp">na</td>
      </tr>
      <tr>
        <td scope="col">Humidity</td>
        <td scope="col" id="hum">na</td>
      </tr>
      <tr>
        <td scope="col">Pressure</td>
        <td scope="col" id="pres">na</td>
      </tr>
      <tr>
        <td scope="col">CO2</td>
        <td scope="col" id="co2">na</td>
      </tr>
      <tr>
        <td scope="col">Front</td>
        <td scope="col" id="front">na</td>
      </tr>
      <tr>
        <td scope="col">Back</td>
        <td scope="col" id="back">na</td>
      </tr>
    </table>
    <ul id="sensor_data"></ul>
  </body>
</html>
